*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:
}

#wrapper{
    width: 100%;
    height: auto;
    background-color: #fff;
    /*box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);*/
}


h1{
    font-family: 'Pacifico', cursive;
}

#header{background: linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
background: -moz-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
background: -webkit-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
background: -ms-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
background: -o-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ef26a1, endColorstr=#f5fa8b,GradientType=1);
position: relative;
}



h2 { color: #fff;}

#header h2{
color:#fff;
font-family: 'Josefin Sans', sans-serif;
padding-top: 0;
padding-left: 10px;
float:left;
max-width: 250px;
}

#header svg{
   /* margin: 10px 0 0 10px;*/
    margin: 15px;
}


#header .logo img{
    margin: 15px;
}

#header svg #logo_text{
    font-family:"NanumPen, Nanum Pen Script";
    font-size: 34px;
    font-weight: normal;
    fill: #5E5F61;
}

#header #countdown_wrapper h3{
    text-align: center;
    margin: 10px;
}

#header #countdown_wrapper{
    background-color: #fbf9f9;
    background-color: rgba(251,249,249, 0.6);
    padding: 10px;
    margin: 10px 10px 0;
    width: 250px;
    height: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
}

#header #countdown_wrapper #countdown{
    width: 100%;
    text-align: center;
    font-size: 140%;
}

.row .col-md-6.right p.lead{
    text-align: right;
}

.row .col-md-6.right p.lead small{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.row .col-md-6.right p.lead small:before{
    content:"\A";
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #dd4397 transparent transparent transparent;
    position: absolute;
    left: -15px;
    top: 7px;

}

.row .col-md-6.right #firepad_history{
    position: absolute;
    top: 45px;
    right: 0;
    width: 250px;
    padding: 10px 15px;
    list-style-type: none;
    z-index: 9999;
    background-color: #eee;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
    display: none;
}

.row .col-md-6.right:hover #firepad_history{
    display: block;
}

.row .col-md-6.right #firepad_history li{
    height: auto;
    border-bottom: 1px solid #c9c9c9;
    list-style-type: none;
    text-align: left;
    padding: 3px 0;
    cursor: pointer;
}

.row .col-md-6.right #firepad_history li b{
    font-weight: normal;
}

.row .col-md-6.right #firepad_history li i{
    font-size: 80%;
}

.row .col-md-6.right #firepad_history li:hover{
    background-color: #f5f98b;
}

.row .col-md-6.right #firepad_history li:last-child{
    border-bottom: none;
}

.row .col-md-6.right:hover p.lead small:before{
    border-width:  0 5px  8px 5px;
    border-color:  transparent transparent #dd4397 transparent;
}


/* Firepad */
.firepad {
    background-color: #f62; /* dark orange background */
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
}


/* Firepad End*/

.info p {
    font-family: 'Josefin Sans', sans-serif;

}

p.lead{
    margin: 10px 0;
}

#firepad{
    width: 100%;
    height: 300px;
}

footer {
    background: linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
    background: -moz-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
    background: -webkit-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
    background: -ms-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
    background: -o-linear-gradient(-45deg, #ef26a1 0%, #f5f48b 77%, #f5fa8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ef26a1, endColorstr=#f5fa8b,GradientType=1);
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    color: #fff;
    margin-top: 15px;
}

footer .text-left{
   padding: 10px;
}

.infomails {
    margin-top: 10%;
}

/* Modal Dialog */
#user_name{
    margin-bottom: 10px;
}
/* Modal Dialog End*/

.info {
    padding-top: 5%;
}

.comments p {
    font-family: 'Josefin Sans', sans-serif;
}

.infomails {
    margin-top: 10%;
}